# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Test files/output
*.log
*.coverage
htmlcov/
.pytest_cache/
.coverage

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache
.cache/

# Env files
.env
